<fieldset>
  <legend>Add a compliment!</legend>


  <!-- DESCRIPTION -->
  <div class="form-group">
    <label for="compliment-description">Compliment</label><br>
    <textarea class="form-control" id="compliment-description" name="compliment" rows="10" />{{compliment.compliment}}</textarea>
  </div>

  <!-- TITLE -->
  <div class="form-group">
    <label for="compliment-autho">Author</label><br>
    <input class="form-control" id="compliment-autho" type="text" name="author" value="{{compliment.author}}"/>
  </div>

  <!-- MOVIE TITLE -->
  <div class="form-group">
    <label for="timestamp">Time</label><br>
    <input class="form-control" id="timestamp" type="hidden" name="timestamp" value="{{compliment.time}}" />
  </div>

<!-- <script> NOT IMPLEMENTED :: TIMESTAMP FOR COMPLIMENTS
function getTimeStamp() {
    var date = new Date();
    para = document.getElementById('timestamp');
    para.value = date;
}
</script> -->

</fieldset>
