<form method="POST" action="/password">
  <fieldset>
    <legend>Logged In!</legend>

    <p>
        You are now logged in as the administrator.
        You can edit pledge names, amounts, and leave thank yous.
        A white background indicates the page is being viewed with administrator capabilities.
    </p>
  </fieldset>


<div class="pull-right"><a href="/">Home</a></div>

</form>
