<form method="POST" action="/password">
  <fieldset>
    <legend><font color="white">Logged Out!</font></legend>


    <style>

    body {
        background-color: #808080;
    }
    </style>

    <p><font color="white">
        You are no longer logged in as the administrator.
    </font>
    </p>
  </fieldset>

<div class="pull-right"><a href="/"><font color="white">Home</font></a></div>
</form>
